body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background: #550664;
    color: #fff;
    padding: 1em;
    text-align: center;
}

header.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    background-color: #550664;
    text-align: left;
    color: #fff;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 2.5em;
    margin: 0;
}

.hero p {
    font-size: 1.1em;
    margin-top: 0.5em;
}

.hero-image {
    max-width: 700px;
    height: auto;
    border-radius: 10px;
}

.hero-button {
    display: inline-block;
    margin-top: 1em;
    padding: 0.8em 1.2em;
    background-color: #de25bf;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.hero-button:hover {
    background-color: #e594d8;
}

nav {
    margin: 1em 0;
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 1em;
}

section img {
    max-width: 100%;
    height: auto;
    padding: 10px;
}

ul {
    list-style-type: none;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #ecf0f1;
}

.responsive-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1em auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}